body {
    background-color: black;
    font-family: system-ui, sans-serif;
}

h1 {
    color: azure;
}

label, p {
    color: white;
}

#output {
    color: white;
}

.card {
    background: #111;
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
}

.valor {
    color: red;
    font-weight: bold;
}

.categoria.hardware {
    color: white;
}

.categoria.software {
    color: limegreen;
}

.categoria.servicios {
    color: orange;
}
